In [13]:
#Exercise 1: Add a list of elements to a set
#Given a Python list, Write a program to add all its elements into a given set.

sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]

sample_combine = sample_set.union(sample_list)

print(sample_combine)

{'Green', 'Black', 'Yellow', 'Red', 'Blue', 'Orange'}

In [14]:
#Exercise 2: Return a new set of identical items from two sets Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set12 = set1 & set2

print(set12)

{40, 50, 30}

In [15]:
#Exercise 3: Get Only unique items from two sets
#Write a Python program to return a new set with unique items from both sets by removing duplicates. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1_2 = set1 | set2

print(set1_2)

{70, 40, 10, 50, 20, 60, 30}

In [16]:
#Exercise 4: Update the first set with items that donâ€™t exist in the second set
#Given two Python sets, write a Python program to update the first set with items
#that exist only in the first set and not in the second set. Given:

set1 = {10, 20, 30}
set2 = {20, 40, 50}

set_1_2 = set1 - set2

print(set_1_2)

{10, 30}

In [19]:
#Exercise 5: Remove items from the set at once
#Write a Python program to remove items 10, 20, 30 from the following set at once. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {10,20,30}
new_set = set1 ^ set2

print(new_set)

{40, 50}

In [20]:
#Exercise 6: Return a set of elements present in Set A or B, but not both. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set12 = set1^set2

print(set12)

{20, 70, 10, 60}

In [41]:
#Exercise 7: Check if two sets have any elements in common. If yes, display the common elements. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

set12 = set1.intersection(set2)

print(set12)

{10}

In [42]:
#Exercise 8: Update set1 by adding items from set2, except common items. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)

print(set1)

{70, 10, 20, 60}

In [45]:
#Exercise 9: Remove items from set1 that are not common to both set1 and set2. Given:

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection_update(set2)
set1

{30, 40, 50}